<RadSideDrawer>
    <StackLayout tkDrawerContent class="side-nav">
        <!-- show this user info -->
        <GridLayout columns="auto,*" [nsRouterLink]="['/home/parking-history']">
            <Label text="&#xf1da;" col="0" class="fa" marginRight="10"></Label>
            <Label text="История парковок" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto,*">
            <Label text="&#xf0ac;" col="0" class="fa" marginRight="10"></Label>
            <Label text="Как это работает?" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" [nsRouterLink]="['/home/faq']">
            <Label text="&#xf29c;" col="0" class="fa" marginRight="10"></Label>
            <Label text="Частые вопросы" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto,*" (tap)="logout()">
            <Label text="&#xf08b;" col="0" class="fa" marginRight="10"></Label>
            <Label text="Выйти" col="1"></Label>
        </GridLayout>
    </StackLayout>
    <ScrollView tkMainContent>
        <StackLayout>
            <!-- Header with logo and special text -->
            <GridLayout class="maxim__header" height="100" columns="*,*">
                <Image src="~/assets/images/logo.png" height="60" col="0" horizontalAlignment="left"></Image>
                <Image src="~/assets/images/menu.png" (tap)="showMenu()" height="27" col="1" marginRight="5"
                       horizontalAlignment="right"></Image>
            </GridLayout>
            <StackLayout class="maxim__yellow_stack">
                <Label text="Состояние счета" horizontalAlignment="center" fontSize="15"></Label>
                <Label [text]="overview.currentBalance + '₽'" horizontalAlignment="center"
                       fontSize="38"></Label>
            </StackLayout>
            <StackLayout class="bordered_item">
                <GridLayout columns="60, *" rows="auto">
                    <!-- First row -->
                    <Image src="~/assets/images/car-icon.png" height="25" col="0" horizontalAlignment="left"
                           row="0"></Image>
                    <Label text="Номер машины" col="1" row="0" verticalAlignment="center"></Label>
                </GridLayout>
                <Car [carNo]="overview.carNo"></Car>
            </StackLayout>
            <GridLayout columns="60, *" rows="auto, auto" borderWidth="0" class="bordered_item">
                <!-- First row -->
                <Image src="~/assets/images/parking-icon.png" height="46" row="0" col="0"
                       horizontalAlignment="left"></Image>
                <StackLayout row="0" col="1" verticalAlignment="center">
                    <Label text="Номер парковки"></Label>
                    <Label text="Например: 0304" fontSize="11" color="#777777" marginTop="3"></Label>
                </StackLayout>
                <TextField keyboardType="number" [(ngModel)]="parkingNo.value" hint="Номер" autocorrect="false"
                           class="bordered__items_nested_text" row="1" colSpan="2" maxLength="4"></TextField>
            </GridLayout>
            <StackLayout marginBottom="45">
                <Label text="парковка будет начата через" horizontalAlignment="center"></Label>

                <GridLayout marginTop="15" columns="auto,auto,auto" rows="auto" horizontalAlignment="center">
                    <Label marginRight="16" text="&#xf068;" (tap)="decreaseParkingStartDelay()" class="fa maxim__control-button" col="0"></Label>
                    <StackLayout col="1" verticalAlignment="center">
                        <Label [text]="formattedDelayMinutes + ':00'" class="maxim__parking-time-block"></Label>
                    </StackLayout>
                    <Label marginLeft="15" text="&#xf067;" (tap)="increaseParkingStartDelay()" class="fa maxim__control-button" col="2"></Label>
                </GridLayout>
            </StackLayout>
            <Button [text]="isParked ? 'Уезжаю когда хочу' : 'Паркуюсь где хочу'"
                    (tap)="parkingButtonTapped()" class="maxim__yellow_stack_btn_yellow start-parking-btn"
                    [class.bg-transparent]="isParked" *ngIf="overview.hasAvailableCars"
                    width="95%" marginBottom="25"></Button>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>
