<Page class="maxim__yellow-bg-block">
    <!-- TODO: ActivityIndicator -->
    <ListView [items]="availableCars" class="maxim__yellow-bg-block">
        <ng-template let-info="item">
            <StackLayout class="car-template">
                <GridLayout columns="30,*" (tap)="returnSelected(info.car)">
                    <Label [text]="currentCarNo == info.car ? '&#xf00c;' : ''" class="fa"
                           col="0" verticalAlignment="center" marginRight="10"></Label>
                    <GridLayout rows="auto,auto" col="1">
                        <Label [text]="info.car" row="0"></Label>
                        <Label [text]="info.description || 'Нет описания'" marginTop="12" row="1" class="small-grey-text"></Label>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</Page>
