Page {
    /* for android */
    color: #000000;
    background: #EDF1F2;
}

.maxim__yellow_stack_btn, .maxim__yellow_stack_btn_yellow {
    font-size: 10;
    padding: 15;
    color: #000000;
    text-transform: uppercase;
    border-width: 2;
    border-radius: 50%;
}

.maxim__yellow_stack_btn:highlighted {
    background-color: #000000;
    color: white;
}

.maxim__yellow-bg-block {
    background-color: #FFC905;
}

.maxim__yellow_stack_btn_yellow {
    background-color: #FFC905;
}

.fa {
    font-family: "FontAwesome";
}

.input {
    padding: 10;
    border-width: 1;
    margin-top: 10;
    border-radius: 50%;
    border-color: #fee17b;
    background-color: #fee17b;
    font-size: 17;
}

.bordered_item {
    border-bottom-width: 1;
    border-color: #898C8C;
    padding: 30 18;
}

.bordered__items_nested_text {
    font-size: 28;
    margin-top: 20;
}

.maxim__header {
    padding: 10;
}

.maxim__header_big {
    font-size: 22;
}

.maxim__header_percent {
    font-size: 30;
}

.maxim__header_block_with_small_text {
    font-size: 12;
}

.yellow-text {
    color: #FFC905;
}

.maxim__yellow_stack {
    background-color: #FFC905;
    padding: 20;
}

.maxim__yellow_stack_small_text {
    font-size: 10;
    line-height: 3;
}

.start-parking-btn {
    padding: 17;
}

.bg-transparent {
    background-color: transparent;
}

.side-nav {
    background-color: #EDF1F2;
}

.side-nav GridLayout {
    padding: 20;
    border-bottom-width: 1;
    border-color: #dbe3e6;
    font-size: 14;
    vertical-align: top;
}

.user-summary {
    background-color: #FFC905;
    vertical-align: top;
    padding: 10px;
}

.maxim__parking-time-block {
    padding: 3 18;
    border-width: 1;
    border-color: #000000;
    border-radius: 10%;
    font-size: 22;
}

.maxim__control-button {
    font-size: 20;
    vertical-align: center;
}
