<ActionBar title="История парковок" class="maxim__yellow-bg-block"></ActionBar>

<StackLayout>
    <ListView [items]="items" class="list-group">
        <ng-template let-history="item">
            <StackLayout class="list-group-item">
                <GridLayout columns="*,*">
                    <!-- Date of parking and duration of parking -->
                    <Label [text]="history.startTime * 1000 | date:'dd.MM.yyyy HH:mm:ss'"
                           row="0" col="0" class="fs-12" color="#999999"></Label>
                    <Label [text]="history.formattedDuration"
                           row="0" col="1" horizontalAlignment="right" class="fs-12"></Label>
                </GridLayout>
                <Label [text]="'Оплачено, ' + history.info" marginTop="5"></Label>
                <Label [text]="history.carNo"></Label>
                <Label text="{{ history.parkingFee |  number:'1.2-2'}} ₽" class="parking-fee" marginTop="5"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <ActivityIndicator [busy]="busy" marginTop="30"></ActivityIndicator>
</StackLayout>

<!--
 ~ show this history of parkings
 -->
