<FlexboxLayout verticalAlignment="center" horizontalAlignment="center">
    <StackLayout width="250">
        <Image src="~/assets/images/logo.png" height="90"></Image>
        <Label text="АВТОРИЗАЦИЯ" marginTop="40" horizontalAlignment="center"></Label>

        <MaskedTextField [(ngModel)]="login.phone"
                         hint="+7 (___) ___-__-__"
                         class="input"
                         keyboardType="phone"
                         mask="+7 (000) 000-00-00"></MaskedTextField>

        <GridLayout rows="auto" columns="*,auto">
            <TextField [(ngModel)]="login.pin"
                       hint="Пин код"
                       maxLength="4"
                       secure="true"
                       keyboardType="number"
                       autocorrect="false"
                       class="input" col="0"
                       borderTopRightRadius="0"
                       borderBottomRightRadius="0"></TextField>

            <Label text="&#xf059;" fontSize="25"
                   verticalAlignment="center" horizontalAlignment="right"
                   class="fa help-icon" col="1" (tap)="helpAboutPin()"></Label>
        </GridLayout>

        <Button text="Войти" class="maxim__yellow_stack_btn" [isEnabled]="!busy" marginTop="12"
                (tap)="signIn()"></Button>
        <ActivityIndicator #activityIndicator width="30" height="30" [busy]="busy" marginTop="30"></ActivityIndicator>
    </StackLayout>
</FlexboxLayout>
