<ScrollView>
    <StackLayout>
        <!-- Header with logo and special text -->
        <GridLayout class="maxim__header" height="100" columns="*,*">
            <Image src="~/assets/images/logo.png" height="60" col="0" horizontalAlignment="left"></Image>
            <!--<Image src="~/assets/images/menu.png" (tap)="showMenu()" height="27" col="1" marginRight="5"-->
                   <!--horizontalAlignment="right"></Image>-->
        </GridLayout>
        <GridLayout rows="auto" columns="auto,*" class="maxim__yellow_stack">
            <Image src="~/assets/images/question.png" width="50" col="0"></Image>
            <StackLayout col="1" marginLeft="17" verticalAlignment="center">
                <Label fontSize="17" text="Есть вопросы?"></Label>
                <Label fontSize="12" textWrap="true" text="Остались вопросы? Пишите на info@maxpay10.ru"></Label>
            </StackLayout>
        </GridLayout>
        <Accordion height="250" marginTop="14" [items]="questions" [selectedIndexes]="[0, 0]">
            <ng-template let-i="index" let-item="item" acTemplateKey="title">
                <StackLayout class="accordion-title" borderWidth="0">
                    <Label [text]="item.question"></Label>
                </StackLayout>
            </ng-template>
            <ng-template class="accordion-content" let-i="index" let-item="item" acTemplateKey="content">
                <StackLayout class="accordion-content" borderWidth="0">
                    <Label [text]="item.answer" textWrap="true"></Label>
                </StackLayout>
            </ng-template>
        </Accordion>
    </StackLayout>
</ScrollView>
