<GridLayout columns="*,auto,auto" rows="auto">
    <!-- Second row -->
    <Label [text]="selectedCarNo || 'Не указан'" (tap)="selectCar()" col="0"
           class="bordered__items_nested_text"></Label>
    <Label text="&#xf115;" class="fa" fontSize="30" col="1" (tap)="selectCar()"
           horizontalAlignment="right" verticalAlignment="bottom" marginRight="17"></Label>
    <Label text="&#xf067;" class="fa" fontSize="30" col="2" (tap)="addNewCar()"
           horizontalAlignment="right" verticalAlignment="bottom"></Label>
</GridLayout>