<Page class="maxim__yellow-bg-block">
    <StackLayout padding="20">
        <Label text="Добавить новый автомобиль" marginBottom="30" horizontalAlignment="center"></Label>
        <TextField hint="Номер автомобиля" [(ngModel)]="model.carNo" class="input" autocorrect="false"></TextField>
        <TextView [(ngModel)]="model.description" hint="Описание" marginTop="15" autocorrect="false" class="input"></TextView>
        <GridLayout rows="auto" columns="*,*" marginTop="15">
            <Label text="Машина по умолчанию" fontSize="15" col="0"></Label>
            <Switch [(ngModel)]="model.isDefault" col="1" horizontalAlignment="right"></Switch>
        </GridLayout>
        <Button text="Сохранить" (tap)="create()" [isEnabled]="!busy" class="maxim__yellow_stack_btn" marginTop="15"></Button>
        <Button text="Отмена" (tap)="close()" [isEnabled]="!busy" class="maxim__yellow_stack_btn" marginTop="10"></Button>
        <ActivityIndicator [busy]="busy" marginTop="15" horizontalAlignment="center"></ActivityIndicator>
    </StackLayout>
</Page>
